# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [1]:
#importing pandas on numPy
import pandas as pd
import numpy as np

#setting varialbles to each file route
url1 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
url2 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv'
url3 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv'

#importing each csv file into a dataframe
df_file1 = pd.read_csv(url1)
df_file2 = pd.read_csv(url2)
df_file3 = pd.read_csv(url3)

In [2]:
#check columnes in file3
df_file3.columns

#standarise name of columns
df_file3 = df_file3.rename(columns={'Gender': 'GENDER', 'State': 'ST'})

In [3]:
df = pd.concat([df_file1, df_file2, df_file3], axis=0)

In [4]:
%load_ext autoreload
%autoreload 2
%reload_ext autoreload

import data_cleaning as dc

df = dc.main_cleaning(df)

In [5]:
df['customer'].nunique()

9056

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [22]:
# Your code goes here
url4 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv'

#importing each csv file into a dataframe
df_file4 = pd.read_csv(url4)

#Column cleaning using function from data_cleaning.py
from data_cleaning import rename_columns
df_file4 = rename_columns(df_file4)

#Column cleaning removing duplicated customers
df_file4 = df_file4.drop_duplicates(subset=['customer'])

In [23]:
df_file4.head()

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,A,2
1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,A,1
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,A,1

In [24]:
#modifying income column to float type
df_file4['income'] = df_file4['income'].astype('float64')

In [25]:
# Defining and printing pivot comparing sales_channel with sum of income
pivot = df_file4.pivot_table(index='sales_channel', values='income', aggfunc='sum')
pivot = pivot.round(2)
print(pivot)

                    income
sales_channel
Agent          129274684.0
Branch          96477104.0
Call Center     67820007.0
Web             50390714.0

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

In [26]:
df_file4['sales_channel'].value_counts()

sales_channel
Agent          3477
Branch         2567
Call Center    1765
Web            1325
Name: count, dtype: int64

In [ ]:
#Insights:
#The sales channel that generates the most income is Agent with a total income of 129274684.0 and a total number of 3477 transactions.

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [28]:
# Create a pivot table showing average CLV per gender and education level
pivot_table = df_file4.pivot_table(
    index='gender',
    columns='education',
    values='customer_lifetime_value',
    aggfunc='mean'
)

# Round for readability
pivot_table = pivot_table.round(2)

# Display the result
print("Average Customer Lifetime Value by Gender and Education Level:")
print(pivot_table)

Average Customer Lifetime Value by Gender and Education Level:
education  Bachelor  College   Doctor  High School or Below   Master
gender
F           8012.88  7732.83  7423.63               8579.00  8319.11
M           7722.07  7971.34  7614.82               8010.08  8158.08

In [ ]:
#Insight 2:
#The pivot table shows that female customers generally have a higher average customer lifetime value than male customers across most education levels. The highest value is observed among female customers with a high school education or below, suggesting that this group may be particularly loyal or engaged. Interestingly, female customers with doctorate degrees have the lowest average lifetime value, which could indicate different purchasing behaviours or shorter engagement. Among male customers, those with college and master’s degrees show relatively strong values, but none exceed the top-performing female segments. Overall, education level does not consistently correlate with higher lifetime value, and gender differences are notable, especially at the extremes. Recommendation consider targeted marketing strategies that leverage these insights to enhance customer retention and value.

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [1]:
# Your code goes here